* { margin: 0; padding: 0; text-decoration: none; list-style: none; }

.container {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    border: 3px solid orange;
    position: relative;
}

ul li a { color: #000; }

header nav {
    float: left; 
    text-align: center;
    height: 50px;
}
/* 
header nav {
    float: left;
    height: 50px;
    text-align: center;
} */
    
header nav .mainmenu {
    width: 600px;
    line-height: 50px;
}
/* 3에서 여기 바꿔주기 */
header nav .mainmenu > li {
    /* float: left; */
    width: 25%;
    height: 100%;
    transition: all 1s;
    cursor: pointer;
    color: black;
}

.mainmenu > li:hover {
    background-color: cornflowerblue;
}

.mainmenu > li:hover > a {
    color: white;
}


header nav .submenu { display: none; }
/* 3에서 여기바꿔주기 */
.mainmenu > li:hover .submenu { display: block; } 


.submenu li { 
    background-color: #ddd;
    color: #000;
    transition: 1s;
}

.submenu li:hover { background-color: cornflowerblue; color: #ddd; }
.submenu li:hover > a { color: #ddd; }
